.about-me {
    width: 50%;
    height: 50%;
    margin-top: 4%;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 20px;
}

.about-me-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.about-me-casey-img {
    position: absolute;
    bottom: 6%;
    width: 400px;
}

.kona-img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.about-me-1 {
    margin-bottom: 15px;
}

@media screen and (max-width: 1340px) {
    .about-me {
        width: 40%;
    }
}

@media screen and (max-width: 1200px) {
    .about-me {
        width: 40%;
    }
    .about-me-casey-img {
    width: 300px;
}
}

@media screen and (max-width: 900px) {
    .about-me-casey-img {
    position: relative;
    bottom: 6%;
    width: 400px;
}

.about-me { 
    width: 90%;
}

.kona-img {
    display: none;
}
}